* {
    box-sizing: border-box;
    
  }
  
  body {
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
  }
  header{
    background-color: forestgreen;
  }
  .main1{
    background-color: fuchsia;
    flex-direction: column;
    display: flex;
  }
  .left,.right{
    background-color: aquamarine;
    flex: 1;
  }
  .main2{
    background-color: blue;
    flex-direction: column;
    display: flex;
  }
  .left1,.center1,.right1{
    background-color: burlywood
  }
  .footer{
    background-color: black;
  }